   doctype
head
  title Pug
  style.
    li{    
    margin:2px;
    }
body     
    ul
        each val, index in ['#D98880', '#CD6155', '#C0392B', '#A93226', '#7B241C','#922B21','#7B241C','#78281F', '#641E16', '#943126']
            li(style='background-color:'+val)
	


 